{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='posts.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}

{% block content %}
<body>
    <h1>Hi, {{ current_user.name }}!</h1>
    <div class="posts-title">
        <p>Newest publishers posts</p>
    </div>
    <hr>
    <div class="posts-container">
    {% for post in posts %}
        <div class="post-card">
            <img src="{{ user.avatar(30) }}" class="rounded-circle">
            <br>{{ post.body }}
            <br>{{ post.timestamp }}
        </div>
    {% endfor %}
    </div>
</body>
{% endblock %}
